<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- bulma-->

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css' )}}">
    <title>Hello All</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        header {
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        article {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
        }

        h1 {
            color: #7c4ee6;
            font-family: raleway;
            font-weight: bold;
            font-size: 35px;
        }

        h3 {
            color: #555;
        }

        h6 {
            color: #555;
        }

        p {
            line-height: 1.6;
            color: #666;
            text-align: justify;
        }

        p img {
            display: block;
            margin: auto;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm ">
        <div class="container">
            <a class="navbar-brand py-0" href="/">
                <img src="/static/logo.PNG" alt="Logo" height="65" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="ms-auto ">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/forum">Forum Diskusi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/artikel">Artikel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/produk">Obat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Profil</a>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <article>
        <h1>Cara Sederhana Meningkatkan Kesehatan Hewan Peliharaan Anda</h1>
        <h6>Publish 16 Desember 2023</h6>

        <p>
            Setiap pemilik hewan peliharaan ingin hewan peliharaannya berada dalam kondisi 
            terbaiknya—tetapi terkadang, pemilik hewan peliharaan tidak sepenuhnya terdidik 
            tentang cara-cara yang dapat mereka lakukan untuk membantu hewannya hidup lebih 
            lama dan lebih sehat. Meskipun kita sangat menyayangi hewan berbulu kita, kita 
            mungkin melakukan hal-hal yang merugikan kesehatan dan kesejahteraannya tanpa kita sadari.
        </p>
        <p>
            Untungnya, cara kita memperpanjang dan meningkatkan kehidupan hewan peliharaan kita cukup sederhana! 
            Hebatnya lagi, menerapkan gaya hidup yang lebih sehat pada hewan peliharaan Anda tidak hanya membantu 
            mereka hidup lebih lama, tetapi juga membantu Anda merasa lebih baik dalam jangka panjang.
            Menurut CDC, memiliki hewan peliharaan dapat menurunkan tekanan darah, mendorong penurunan berat badan, 
            dan mengurangi perasaan kesepian—belum lagi, kepemilikan hewan peliharaan memberi Anda peluang besar untuk 
            keluar dan bersosialisasi dengan orang lain.
        </p>
        <p>
            Jadi, untuk berterima kasih kepada hewan peliharaan kita atas semua yang mereka lakukan untuk kita, 
            kami menyusun daftar 3 hal teratas yang harus Anda lakukan untuk memastikan kesehatan dan kesejahteraan 
            mereka secara keseluruhan—dan mungkin Anda juga dapat mengambil beberapa petunjuk untuk diri Anda sendiri!
        </p>
        <h3>
            1. Beri Mereka Makan Bahan-Bahan Berkualitas Tinggi Dan Gunakan Porsi yang Benar
        </h3>
        <p>
            Dalam hal memberi makan hewan peliharaan kita, masalahnya ada dua: hewan peliharaan biasanya mendapat terlalu banyak makanan, dan mereka 
            biasanya tidak mendapatkan makanan yang tepat.   
        </p>
        <p>
            Menurut Asosiasi Pencegahan Obesitas Hewan Peliharaan, hingga 60% persen hewan peliharaan 
            mengalami kelebihan berat badan atau obesitas. Semua beban ekstra ini sangat berdampak pada kualitas hidup mereka; Anda mungkin akan melihat 
            radang sendi, hipertensi, dan diabetes pada hewan peliharaan yang kelebihan berat badan, yang menyebabkan biaya dokter hewan yang mahal dan 
            umur yang lebih pendek.
        </p>
        <p>
            Jadi, apa yang dapat Anda lakukan untuk mencegah hal ini? Langkah pertama dalam mengatasi obesitas hewan adalah memberi 
            makan hewan peliharaan Anda makanan berkualitas tinggi dengan bahan-bahan sehat dalam porsi yang benar.
        </p>
        <p>
            Jika Anda tidak yakin harus mulai dari mana, 
            sebaiknya konsultasikan dengan dokter hewan Anda. Mereka akan mempertimbangkan usia dan ukuran hewan peliharaan Anda sebelum merekomendasikan makanan 
            yang memenuhi nutrisi penting yang dibutuhkan hewan peliharaan Anda. Dan jika hewan peliharaan Anda memiliki masalah kesehatan yang mendasarinya seperti 
            diabetes atau alergi dokter hewan Anda dapat memberikan rekomendasi khusus berdasarkan kebutuhan unik hewan peliharaan Anda. Secara umum, berikut beberapa 
            hal yang perlu diingat saat membeli makanan untuk hewan peliharaan Anda: Periksa label makanan Anda ingin memastikan makanan hewan peliharaan Anda mengandung 
            protein sehat seperti salmon, kalkun, atau ayam yang terdaftar sebagai salah satu dari makanan tersebut. bahan-bahan terbaik Hindari makanan yang banyak mengandung 
            bahan pengisi seperti gandum, jagung, dan kedelai Belilah makanan berkualitas tinggi yang melebihi standar Association of American Feed Control Officials (AAFCO) 
            Ikuti petunjuk pemberian makanan pada kemasan—bagikan dengan benar porsi berdasarkan ukuran hewan peliharaan Anda adalah kunci untuk menjaga berat badan yang sehat 
            Sesuaikan pola makan hewan peliharaan Anda dengan kebutuhan kesehatan spesifiknya dengan bantuan dokter hewan Anda Dan jika Anda akan memberikan sisa makanan kepada 
            hewan peliharaan Anda (kami mengerti, sulit untuk menolaknya mata itu), setidaknya buatlah menjadi sehat! Daging, nasi, dan buah-buahan/sayuran adalah camilan sehat yang 
            bisa diberikan kepada hewan peliharaan Anda secukupnya. Daftar ini menguraikan makanan manusia yang aman untuk kucing, dan juga untuk anjing. Jika Anda memiliki pertanyaan 
            atau kekhawatiran tentang makanan apa yang aman untuk hewan peliharaan Anda, sebaiknya konsultasikan dengan dokter hewan Anda terlebih dahulu.
            If you ever have any questions or concerns about what is safe to feed your pets, it’s always best to consult your veterinarian first. 
        </p>
        <h3>
            2. Berolahragalah Setiap Hari Dengan Hewan Peliharaan Anda
        </h3>
        <p>
            Seperti yang telah kami sebutkan, obesitas pada hewan peliharaan adalah masalah besar, dan ini terutama disebabkan oleh pola makan yang buruk dan kurang olahraga. Jadi, 
            hanya karena Anda mengalihkan hewan peliharaan Anda ke makanan berkualitas lebih tinggi bukan berarti Anda sudah keluar dari masalah! Anda tetap perlu memastikan hewan 
            peliharaan Anda cukup berolahraga untuk membakar energi dan kalori ekstra.
        </p>
        <p>
            Namun, penting untuk dicatat bahwa manfaat olahraga tidak hanya bersifat fisik—rutinitas harian ini juga memberikan latihan mental yang sangat dibutuhkan hewan peliharaan Anda. 
            Tanpa olahraga harian yang konsisten, hewan peliharaan Anda bisa mengalami gangguan mood dan perilaku destruktif—jadi olahraga pasti akan menyelamatkan furnitur Anda juga.
        </p>
        <p>
            Kucing dan anjing membutuhkan hal yang berbeda saat berolahraga dan bermain aktif, jadi ingatlah hal itu saat Anda merencanakan rutinitas harian Anda. Secara umum, anjing lebih 
            tertarik untuk aktif secara fisik dalam jangka waktu yang lebih lama, sedangkan kucing suka menunjukkan kelincahan dan kehebatannya dalam waktu yang lebih singkat.
        </p>
        <p>
            Anjing umumnya membutuhkan setidaknya 60 menit berjalan dan/atau berlari aktif setiap hari. Tergantung pada usia dan rasnya, anjing Anda mungkin memerlukan lebih banyak atau lebih 
            sedikit aktivitas agar tetap bahagia dan sehat. Lakukan riset terhadap ras Anda dan lihat aktivitas apa yang cenderung mereka sukai.
        </p>
        <p>
            Sedangkan untuk kucing, mereka membutuhkan Anda untuk mengaktifkan naluri berburunya. Tidak seperti anjing, kucing aktif dalam waktu singkat, jadi menambahkan waktu bermain 10-15 menit 
            beberapa kali sehari adalah cara yang bagus untuk membuat mereka tetap aktif dan terlibat. Anda juga dapat mencoba roda olah raga kucing, atau jika Anda suka bertualang, Anda dapat 
            memanfaatkan latih kucing Anda untuk petualangan di luar ruangan. Seperti yang kami katakan, manfaat olahraga lebih dari sekadar manfaat fisik, berikut beberapa hal yang dapat Anda harapkan 
            dari berolahraga hewan peliharaan Anda setiap hari Ikatan yang ditingkatkan antara Anda dan hewan peliharaan Anda Mengurangi kecemasan dan kebosananLebih terstruktur dan rutin Mengurangi perilaku 
            yang tidak diinginkan dan merusak
        </p>
        <h3>
            3. Berikan Hewan Peliharaan Anda Mainan dan Stimulus yang Menarik
        </h3>
        <p>
            Meskipun kita ingin, kita tidak bisa bersama hewan peliharaan kita setiap saat sepanjang hari, jadi penting untuk memastikan bahwa lingkungan mereka di rumah penuh dengan mainan dan aktivitas yang dapat membuat mereka sibuk saat Anda pergi.
            Stimulasi mental sangat penting untuk kesehatan mereka secara keseluruhan, dan meninggalkan hewan peliharaan sendirian tanpa rangsangan yang berarti dapat berdampak buruk pada kesejahteraan mereka secara keseluruhan.
            Bagi kucing, mereka membutuhkan banyak tempat untuk bersembunyi, memanjat, dan mengamati sekelilingnya—seperti yang mereka lakukan di alam liar. Pohon dan rak kucing akan membuat kucing Anda merasa aman dan tenteram saat mereka bertindak berdasarkan naluri 
            berburunya. Anda juga harus meninggalkan banyak mainan yang bisa mereka mainkan sendiri saat Anda pergi—apa pun yang mengandung catnip tidak ada salahnya.
        </p>
        <p>
            Sedangkan untuk anjing, mainan suguhan dan mainan puzzle adalah cara yang bagus untuk menjaga mental mereka tetap tajam saat Anda tidak ada. Mengalihkan perhatian mereka pada tugas baru akan menghilangkan kecemasan mereka akan perpisahan, dan aspek tantangan/hadiah
            akan membuat mereka sibuk selama berjam-jam.
        </p>
        <p>
            Kiat Pro:
            Satu-satunya hal yang lebih baik daripada mainan adalah hewan peliharaan yang lelah, jadi di sinilah olahraga juga bisa memberikan manfaat yang besar! Pastikan hewan peliharaan Anda telah berolahraga secara menyeluruh sebelum Anda meninggalkan
            rumah selama beberapa jam, dan yakinlah bahwa mereka tidak akan terlalu merindukan Anda saat Anda pergi.
        </p>
    </article>
    <article>
        <h1>Mengenal Jenis Hewan Peliharaan Beserta Cara Merawatnya</h1>
        <h6>Publikasi 16 Desember 2023</h6>
        <p>
            Jenis Hewan Peliharaan Apakah Anda termasuk pecinta hewan? Tertarik untuk mengadopsi hewan peliharaan? Jika masih bingung untuk memelihara hewan apa, maka kamu bisa simak artikel ini Grameds. Dalam artikel ini, kamu akan menemukan jenis hewan peliharaan, 
            mulai dari yang berukuran kecil, hingga yang berukuran besar. Jadi, simak artikel ini, sampai selesai, Grameds.
        </p>
        <p>
            Beberapa orang menyukai suasana rumah saat diisi hewan-hewan lucu dan unik. Anda juga bisa dengan mudah menemukan hewan peliharaan yang mudah dipelihara, jinak, dan serta memiliki warna menarik.
            Jenis hewan peliharaan yang banyak dipilih, biasanya, seperti kucing dan anjing. Kedua hewan ini memiliki bulu halus hingga berwajah imut. Namun, pada kenyataannya tak cuma kucing dan anjing saja, 
            tetapi ada juga beberapa hewan yang cocok dijadikan sebagai hewan peliharaan. Hewan apa sajakah itu?
        </p>
        <p>
            1. Ikan Cupang<br>

            <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2022/09/27071117/image003-24-364x243.jpg" alt="Description"><br>
            Ikan cupang atau Betta Fish memiliki beragam corak, warna, dan jenis. Ikan hias ini berasal dari Asia, dulunya hidup di perairan dangkal, rawa-rawa, kolam, atau sungai berarus lambat. Ikan berukuran mini ini kemudian dikembangkan hingga menjadi berbagai varian dan memiliki warna cantik.
            Cupang yang dipelihara cenderung hidup sendiri dan ditempatkan pada wadah terpisah dari ikan lain. Selain itu, cupang juga masuk ke dalam daftar hewan peliharaan yang mudah dirawat. Di alam bebas, ikan ini bisa memakan larva dan serangga kecil.
            Anda bisa memberi makan secara rutin, seperti pelet dan makanan ikan berukuran kecil. Jika Anda tertarik memelihara ikan cupang, pastikan untuk membersihkan wadahnya secara teratur. Selain itu, Anda juga bisa menambahkan obat anti jamur dan daun ketapang untuk kesehatan ikan cupang.
        </p>
        <p>
            2. Anjing<br>

            <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2022/09/27071202/image017-14-364x243.jpg" alt="Description"><br>
            Anjing banyak dipelihara dan terdiri dari berbagai jenis. American Kennel Club (AKC) menemukan 195 jenis dan 79 jenis anjing terbaru. Ada berbagai jenis anjing sebagai hewan peliharaan, menjaga rumah, dan bermain bersama anak-anak.
            Anjing memiliki sifat periang, lucu, dan taat pada pemiliknya. Anda bisa melatih anjing peliharaan untuk menangkap bola atau kayu. Saat ini, ada ratusan varian anjing mulai dari ukuran terkecil seperti chihuahua sampai anjing berukuran besar seperti bulldog.
        </p>
        <p>
            3. Kucing<br>

            <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2022/09/27071336/image048-364x243.jpg" alt="Description"><br>
            Hewan peliharaan ini termasuk jenis karnivora yang banyak dipelihara orang. Kucing termasuk hewan lucu, imut, berbulu, dan bertingkah lucu. Mengutip dari Animal Clinic, ada 40-70 ras kucing berbeda. Cat Fanciers Association (CFA) menyebutkan ada 42 ras kucing dan Asosiasi Kucing Internasional menyatakan ada 71 ras kucing.
            Selain kucing domestik yang dipelihara, ada beberapa kucing ras dari luar negeri yang disukai. Kucing ras yang dipelihara di Indonesia antara lain kucing Bengal, Maine Coon, kucing Persia, British Shorthair, kucing Siam, Sphynx, Ragdoll, Kucing Munchkin, Kucing hutan Norwegia, Russian Blue, Savannah, Kucing Anggora, Himalaya, dan masih banyak lagi.
        </p>
    </article>
    <article>
        <h1>Waspadai Berbagai Penyakit Infeksi dari Hewan Peliharaan</h1>
        <h6>Publish 16 Desember 2023</h6>
        <p>
            Hewan peliharaan terbukti dapat memberikan banyak manfaat bagi pemiliknya. Namun, Anda tetap perlu waspada karena ada penyakit infeksi dari hewan peliharaan yang dapat mengintai Anda dan keluarga. Dengan mengenali jenis penyakitnya, langkah pencegahan pun dapat Anda lakukan.
            Beragam penelitian telah mengungkapkan bahwa memiliki hewan peliharaan dapat memberikan beragam manfaat bagi kesehatan fisik dan mental. Namun, di sisi lain, ada pula risiko yang dapat ditimbulkan, salah satunya penularan penyakit infeksi dari hewan peliharaan.<br>
            Berbagai Jenis Penyakit Infeksi dari Hewan Peliharaan
            Ada beberapa penyakit infeksi dari hewan peliharaan yang dapat menular ke manusia dan penting untuk Anda ketahui, di antaranya:
        </p>
        <p>
            1. Kurap<br>
            Seseorang dapat terkena kurap hanya dengan menyentuh hewan peliharaan yang terjangkit jamur penyebab kurap, yaitu jamur Dermatophytosis. Kondisi ini biasanya ditandai dengan ruam kulit berbentuk melingkar yang kering dan bersisik serta terasa gatal.
            Kurap dapat dicegah dengan menjaga kebersihan serta melakukan perawatan diri. Selalu mencuci tangan setelah bermain dengan hewan peliharaan dan membersihkan area rumah yang sering dikunjungi hewan peliharaan menjadi salah satu cara menghindari kurap, baik kurap kering maupun basah.
            Selain itu, bila hewan peliharaan Anda sering menggaruk tubuh, mengalami kerontokan bulu yang cukup parah, atau tampak kemerahan di kulitnya, Anda perlu memeriksakannya ke dokter hewan. Kondisi tersebut bisa jadi disebabkan oleh kurap.
        </p>
        <p>
            2. Toksoplasmosis<br>
            Toksoplasmosis adalah penyakit infeksi yang bisa menular dari hewan peliharaan ke manusia. Penyakit ini disebabkan oleh parasit Toxoplasma gondii dan sering kali tidak bergejala, sehingga penderitanya kerap tidak menyadari bahwa ia sedang terinfeksi.
            Meski begitu, sebagian orang juga bisa mengalami gejala seperti flu ketika terinfeksi penyakit toksoplasmosis. Penyakit ini menjadi berbahaya bila dialami ibu hamil, sebab dapat menginfeksi janin dan menyebabkan keguguran atau cacat lahir.
            Parasit Toxoplasma gondii biasanya ditemukan pada kotoran kucing yang terinfeksi. Oleh karena itu, Anda perlu membersihkan wadah penampung kotoran hewan dan kandang hewan secara rutin, lalu segera mencuci tangan sesudahnya.
            Bagi ibu hamil atau orang dengan sistem imun yang lemah, disarankan untuk tidak membersihkan kotoran dan kandang hewan.
        </p>
        <p>
            3. Rabies<br>
            Rabies adalah penyakit infeksi yang disebabkan oleh virus. Penyakit ini menyebar melalui gigitan anjing, kucing, sapi, kambing, kuda, musang, atau monyet, yang terinfeksi oleh virus penyebab rabies.
            Gejala awal rabies pada manusia mirip seperti gejala flu ringan. Meski begitu, orang yang baru saja digigit oleh hewan apa pun yang diduga terinfeksi rabies harus segera mendapatkan pertolongan medis.
            Virus rabies dapat menginfeksi sistem saraf pusat. Jika terlambat mendapatkan pertolongan medis, virus ini dapat menyebabkan gangguan di otak yang berujung pada kematian.
        </p>
        <p>
            4. Infeksi bakteri Bartonella henselae<br>
            Sebagian orang beranggapan bahwa luka akibat gigitan dan cakaran kucing bisa sembuh dengan sendirinya. Padahal, bila tidak dibersihkan dan diobati, luka tersebut bisa saja memicu infeksi bakteri, misalnya bakteri Bartonella henselae.
            Kucing membawa bakteri Bartonella henselae yang dapat ditularkan melalui cakaran atau gigitan pada kulit manusia. Seseorang yang terinfeksi bakteri ini akan menunjukkan tanda seperti luka yang membengkak dan bernanah, demam, sakit kepala, dan kehilangan nafsu makan.
            Tidak hanya bakteri Bartonella henselae, bakteri-bakteri lain juga dapat menginfeksi luka melalui gigitan atau cakaran hewan. Oleh karena itu, segeralah cuci bersih daerah luka tersebut dengan sabun dan air mengalir untuk mencegah infeksi.
            Selain keempat penyakit yang telah disebutkan, ada pula penyakit infeksi lain dari hewan peliharaan, yaitu leptospirosis, salmonellosis, atau penyakit Pes.
            Itulah berbagai penyakit infeksi dari hewan peliharaan yang harus Anda waspadai. Menjaga kebersihan diri, hewan, dan lingkungan menjadi salah satu cara mencegah penyebaran penyakit infeksi dari hewan peliharaan ke manusia.
            Selain itu, rutin memeriksakan kesehatan hewan peliharaan serta memenuhi vaksinasi khusus hewan juga disarankan untuk menjaga kesehatan hewan kesayangan Anda.
            Jika Anda mengalami keluhan yang diduga gejala penyakit infeksi dari hewan peliharaan, jangan ragu untuk segera memeriksakan diri ke dokter guna menjalani pemeriksaan dan mendapatkan penanganan yang tepat.
        </p>
    </article>
</body>

</html>