<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bulma-->

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for("static", filename='index.css')}}">
    <title>Hello All</title>
<script>
    $(document).ready(function () {
        get_order();
        $('.dropdown-toggle').dropdown();
      });


    function get_order(username) {
        if (username == undefined) {
          username = "";
        }
        $("#pesan").empty();
        $.ajax({
          type: "GET",
          url: `/get_order?username_give=${username}`,
          data: {},
          success: function (response) {
            if (response["result"] === "success") {
              let posts = response["posts"];
              for (let i = 0; i < posts.length; i++) {
                let post = posts[i];
                let id = post["id"] 
                let username = post["username"] 
                let nama_lengkap = post["nama_lengkap"] 
                let alamat = post["alamat"] 
                let hp = post["HP"]
                let title = post["title"] 
                let qty = post["qty"]
                let total = post["total"] 
                let done = post["done"]
                let html_temp = "" 
                if (done === 0) {
                    html_temp = `<tr>
                        <th><a id="id">${id}</a></th>
                        <td><a id="cust">${username}</a>
                        </td>
                        <td><a id="nama">${nama_lengkap}</a></td>
                        <td><a id="alamat">${alamat}</a></td>
                        <td><a id="hp">${hp}</a></td>
                        <td><a id="barang">${title}</a></td>
                        <td><a id="qty">${qty}</a></td>
                        <td><a id="total">${total}</a></td>
                        <td><a id="status"><button onclick="done_order(${id})" type="button" class="btn btn-outline-primary">Done!</button></a></td>
                        
                        
        </tr>`;
    } else {
        html_temp = `<tr>
            <th><a id="id">${id}</a></th>
            <td><a id="cust">${username}</a>
            </td>
            <td><a id="nama">${nama_lengkap}</a></td>
            <td><a id="alamat">${alamat}</a></td>
            <td><a id="hp">${hp}</a></td>
            <td><a id="barang">${title}</a></td>
            <td><a id="qty">${qty}</a></td>
            <td><a id="total">${total}</a></td>
            <td><a id="status"><button onclick="cancel_order(${id})" type="button" class="btn btn-outline-primary">Cancel!</button></a></td>
            
            
</tr>`;
        
    }
                $("#pesan").append(html_temp);
              }
            }
          },
        });
      }

      function done_order(id) {
        $.ajax({
          type: "POST",
          url: "/order/done",
          data: { id_give:id },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function cancel_order(id) {
        $.ajax({
          type: "POST",
          url: "/order/cancel",
          data: { id_give:id },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }
</script>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm ">
        <div class="container">
            <a class="navbar-brand py-0" href="/">
                <img src="/static/logo.PNG" alt="Logo" height="65" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="ms-auto ">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/forum">Forum Diskusi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/artikel">Artikel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/produk">Obat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/profile/{{ user_info.username }}">Profil</a>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <div class="container my-5 px-3" style="min-height:100vh">
        <div class="kategoricaption mb-5">
            <div class="row">
                <div class="col">
                    <h1 class="text-center fw-bold judulkategori">Riwayat Pembelian</h1>
                    <hr class="mx-auto" style="width:10%; background-color: #c3e2f0;">

                </div>
            </div>

        </div>

        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><abbr title="id">Order ID</abbr></th>
                    <th><abbr title="nama">Username</abbr></th>
                    <th><abbr title="nama">Nama Pembeli</abbr></th>
                    <th><abbr title="alamat">Alamat</abbr></th>
                    <th><abbr title="hp">Nomor HP</abbr></th>
                    <th><abbr title="barang">Barang</abbr></th>
                    <th><abbr title="qty">qty</abbr></th>
                    <th><abbr title="total">Total</abbr></th>
                    <th><abbr title="action">Status</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="id">Order ID</abbr></th>
                    <th><abbr title="nama">Username</abbr></th>
                    <th><abbr title="nama">Nama Pembeli</abbr></th>
                    <th><abbr title="alamat">Alamat</abbr></th>
                    <th><abbr title="hp">Nomor HP</abbr></th>
                    <th><abbr title="barang">Barang</abbr></th>
                    <th><abbr title="qty">qty</abbr></th>
                    <th><abbr title="total">Total</abbr></th>
                    <th><abbr title="action">Status</abbr></th>
                </tr>
            </tfoot>
            <tbody id="pesan">


    </tbody>
    </table>
</div>

    </div>
        
    </section>
    <footer class="copyright mt-0">
        <div class="container py-2">
            <p class="text-center my-3">Copyright © by Kelompok 4</p>
        </div>
    </footer>
</body>

</html>